body {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    min-width: 320px;
}

p {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    color: #565656;
}

/*BUTTONS*/

.my-btn {
    padding: 10px 40px;
    border: none;
    color: #ffffff;
}

.btn-downad {
    font-family: "OpenSans-Regular", sans-serif;
    background: #00cc99;
    font-size: 24px;
}

    .btn-downad img {
        width: 40px;
        margin-right: 12px;
    }

.btn-submit {
    margin: 20px 10px 0 0;
    font-family: "OpenSans-Regular", sans-serif;
    background: #31d4e7;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 3px;
}

/*HEADER*/
header {
    height: 758px;
    background-image: url('../img/bg-heder.png');
    -webkit-background-size: cover;
    background-size: cover;
}

nav {
    line-height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.my-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

    .my-menu li {
        display: inline-block;
        padding: 0 25px;
    }

        .my-menu li a {
            font-family: "OpenSans-Bold", sans-serif;
            color: #666666;
            font-size: 13px;
            text-transform: uppercase;
        }

            .my-menu li a:hover,
            .my-menu li a:focus {
                color: #333333;
                text-decoration: none;
            }

.my-logos a {
    font-family: "Raleway-Bold", sans-serif;
    color: #33cc99;
    font-size: 30px;
    margin: 12px;
}


    .my-logos a:hover,
    .my-logos a:focus {
        color: #333333;
    }

    .my-logos a > img {
        position: relative;
        bottom: 14px;
        left: 15px;
        width: 50px;
        height: 48px;
    }

.my-header-menu {
    background: #fff;
    margin-top: 25px;
}

.my-introduce {
    margin-top: 220px;
}

.blk-introduce h1 {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 0;
}

.blk-introduce p {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 21px;
    color: #ffffff;
}

.my-list-intro {
    padding-left: 0;
    margin: 40px 0;
}

    .my-list-intro li {
        font-family: "OpenSans-Regular", sans-serif;
        color: #a1b0bd;
        font-size: 16px;
        margin-bottom: 12px;
        list-style-type: none;
    }

        .my-list-intro li::before {
            font-family: "Courier New", sans-serif;
            content: "\203a";
            font-size: 25px;
            padding: 0 12px 0 0;
        }
/*main*/
.my-features {
    background: #ffffff;
}

.my-blk-header {
    text-align: center;
    margin: 40px 0 40px 0;
}

    .my-blk-header h1 {
        font-family: "Raleway-Bold", sans-serif;
        color: #33cc99;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

        .my-blk-header h1::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 5%;
            height: 1px;
            background: #bdbdbd;
            border: solid #bdbdbd;
            border-width: 0 0px;
            margin: 0 10px;
        }

        .my-blk-header h1::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 5%;
            height: 1px;
            background: #bdbdbd;
            border: solid #bdbdbd;
            border-width: 0 0px;
            margin: 0 10px;
        }


    .my-blk-header p {
        font-size: 18px;
        margin: 40px 0;
        padding: 0 65px 40px 65px;
    }

.my-fearure-content {
    margin: 60px 0 90px 0;
}

    .my-fearure-content img {
        float: left;
        padding: 0 40px 40px 0;
    }

    .my-fearure-content h4 {
        font-family: "Raleway-Bold", sans-serif;
    }

    .my-fearure-content p {
        font-size: 14px;
    }

.my-fearure-img img {
    width: 100%;
}

.my-watch {
    background: #31d4e7;
}

.my-watch-intro {
    padding: 20px 0;
}

    .my-watch-intro h1 {
        font-family: "Raleway-Bold", sans-serif;
        color: #1f1b13;
        text-transform: uppercase
    }

    .my-watch-intro p {
        color: #fffef8;
    }

.mblok-info {
    margin-top: 10px;
    padding-left: 0;
    float: left;
    font-size: 12px;
}

    .mblok-info i {
        margin: 5px 9px 0;
        font-size: 25px;
    }

    .mblok-info li {
        display: block;
        float: left;
        width: 50px;
        height: 50px;
        padding: 5px;
        background: #0198cd;
        border-radius: 25px;
        border: 1px solid #0198cd;
        margin-right: 10px;
    }

        .mblok-info li:hover,
        .mblok-info li:focus {
            background: #222222;
            border: 1px solid #222222;
            cursor: pointer;
        }

    .mblok-info a {
        color: #f4f4f4;
    }

        .mblok-info a:hover,
        .mblok-info a:focus {
            color: #f4f4f4;
        }

    .mblok-info .color-facebook {
        color: #ffffff;
        background-color: #3b5997;
        border: 1px solid #3b5997;
    }

    .mblok-info .color-twit {
        color: #ffffff;
        background-color: #3cc2f0;
        border: 1px solid #3cc2f0;
    }

    .mblok-info .color-gplus {
        color: #ffffff;
        background-color: #e44c41;
        border: 1px solid #e44c41;
    }

    .mcolors{
        margin: 40px 0;
    }

    .mcolors li:hover,
    .mcolors li:focus {
        background: #ffffff;
        border: 1px solid #ffffff;
        color: #222222;
        cursor: pointer;
    }

.inf-square {
    margin-top: 80px;
    padding: 0 45px;
}

.inf-square i {
    color: #ffffff;
}

.inf-square li {
    border-radius: 0;
    background: rgba(21, 118, 99, 0.78);
    border: 1px solid rgba(21, 118, 99, 0.78);
}

.my-watch-video {
    padding: 40px 0 40px 60px;
}

    .my-watch-video iframe {
        border-radius: 10px;
        border: 1px solid #967253;
    }

.my-blk-staff {
    text-align: center;
}

    .my-blk-staff h4 {
        font-family: "OpenSans-Bold", sans-serif;
        color: #222222;
    }

    .my-blk-staff p {
        font-family: "Raleway-Regular", sans-serif;
        color: #222222;
    }

.my-teame{
    margin-bottom: 70px;
}

.my-blk-over {
    position: absolute;
    top: 0;
    width: 270px;
    height: 300px;
    background: rgba(34, 177, 149, 0.86);
    text-align: center;
    display: none;
}

    .my-blk-over p,
    .my-blk-over h4 {
        color: #ffffff;
    }

    .my-blk-over h4 {
        font-family: "OpenSans-Bold", sans-serif;
        margin: 17px 0
    }

    .my-blk-over p {
        font-family: "OpenSans-Regular", sans-serif;
        margin: 0 10px;
    }

.my-blk-staff:hover .my-blk-over,
.my-blk-staff:focus .my-blk-over {
    background: rgba(34, 177, 149, 0.86);
    display: block;
}

.my-carousel {
    background: #ffffff;
    height: 700px;
}

.my-customer{
    text-align: center;
}

    .my-customer p {
        margin: 100px 0 50px 0;
        padding: 0 160px;
        text-align: left;
    }

        .my-customer p:before {
            content: "\201c";
            font-family: 'Times New Roman', Times, serif;
            color: #efefef;
            font-size: 10em;
            position: absolute;
            top: 190px;
            left: 75px;
        }
    .my-customer img {
        border: 1px solid #dadada;
        border-radius: 125px;
    }

.my-indicators {
    bottom: -18px !important;
}

.my-indicators li {
    border: 1px solid #dadada !important;
    background-color: #dadada !important;
}

    .my-indicators li.active {
        border: 1px solid #25ae9e !important;
        background-color: #25ae9e !important;
    }

/*FOOTER*/
.my-contact {
    height: 700px;
    background-image: url('../img/Layer-9.png');
    background-color: #1a1a1a;
    -webkit-background-size: cover;
    background-size: cover;
}

    .my-contact h1 {
        font-family: "Raleway-Regular", sans-serif;
        margin: 50px 0 80px 0;
        text-align: center;
        color: #ffffff;
    }

        .my-contact h1::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 5%;
            height: 1px;
            background: #ffffff;
            border: solid #ffffff;
            border-width: 0 0px;
            margin: 0 10px;
        }

        .my-contact h1::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 5%;
            height: 1px;
            background: #ffffff;
            border: solid #ffffff;
            border-width: 0 0px;
            margin: 0 10px;
        }

.my-heding-line {
    position: relative;
    bottom: 80px;
    right: 28px;
    text-align: center;
    list-style-type: none;
}

    .my-heding-line li {
        margin: 0 1px;
        width: 60px;
        display: inline-block;
        border-bottom: 1px solid #ffffff;
    }

        .my-heding-line li:first-child::before {
            content: "/";
            color: #ffffff;
            position: relative;
            left: 31px;
            top: 6px;
        }

        .my-heding-line li:last-child::after {
            content: "/";
            color: #ffffff;
            position: relative;
            right: 31px;
            top: 17px;
        }

.blk-lin2 {
    bottom: 5px;
}

.blk-lin2 li{
    border-bottom: 1px solid #343d3c;
}

    .blk-lin2 li:first-child::before {
        color: #343d3c;
    }

    .blk-lin2 li:last-child::after {
        color: #343d3c;
    }

    .my-contact h3 {
        font-family: "OpenSans-Regular", sans-serif;
        color: #ffffff;
    }

    .my-contact p {
        font-family: "OpenSans-Regular", sans-serif;
        font-size: 14px;
        color: #848484;
        padding: 0 80px 0 0;
    }

/*FORMS*/
#contact {
    text-align: right;
    margin-bottom: 60px;
    width: 550px;
}

    #contact input {
        border: 1px solid #fff;
        background: #fff;
        border-radius: 3px;
        padding: 10px;
        margin: 10px;
        font-style: normal;
    }

        #contact input[type=text] {
            width: 250px;
        }

        #contact input[type=email] {
            width: 250px;
        }

    #contact textarea {
        height: 200px;
        font-style: normal;
        border: 1px solid #fff;
        background: #fff;
        border-radius: 5px;
        padding: 20px;
        width: 525px;
        margin: 10px;
    }

    #contact input::-webkit-input-placeholder {
        color: #cacaca;
    }

    #contact input::-moz-placeholder {
        color: #cacaca;
    }
/* Firefox 19+ */
    #contact input:-moz-placeholder {
        color: #cacaca;
    }
/* Firefox 18- */
    #contact input:-ms-input-placeholder {
        color: #cacaca;
    }

    #contact textarea::-webkit-input-placeholder {
        color: #cacaca;
    }

    #contact textarea::-moz-placeholder {
        color: #cacaca;
    }
    /* Firefox 19+ */
    #contact textarea:-moz-placeholder {
        color: #cacaca;
    }
    /* Firefox 18- */
    #contact textarea:-ms-input-placeholder {
        color: #cacaca;
    }

.contactus {
    color: #b2a9d7;
    padding-left: 0;
}

    .contactus li {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 10px;
    }

.my-footer-bg{
    border-top: 1px solid #444444;
}

    .my-footer-bg p {
        text-align: center;
        margin-top: 45px;
        padding: 0;
    }
